{% load i18n %}

<li class="infinite-item card" news-id="{{ news.uuid_id }}">
  <div class="card-body">
    <div class="profile-picture">
    </div>
    <div class="post">
      {% if news.user == request.user %}
        <a href="{% url 'news:delete_news' news.pk %}">
          <i class="fa fa-times pull-right" aria-hidden="true" title=""></i>
        </a>
      {% endif %}
      <p>
        <strong>
          <a href="{% url 'users:detail' news.user.username  %}">{{ news.user.get_profile_name|title }}</a>
        </strong>
      </p>
      <p>{{ news|urlize }}</p>
      
      {% if news.meta_url %}
        <a href="{{ news.meta_url }}" target="_blank" class="card meta">
          {% if news.meta_image %}
            <div class="card-img-top" style="background-image: url({{ news.meta_image }})"></div>
          {% endif %}
          <div class="card-body">
            {% if news.meta_title %}
              <h5 class="card-title">{{ news.meta_title }}</h5>
            {% endif %}
            {% if news.meta_description %}
              <p class="card-text">{{ news.meta_description }}</p>
            {% endif %}
            {% if news.meta_url %}
              <p class="card-btn">{{ news.meta_url }}</p>
            {% endif %}
          </div>
        </a>
      {% endif %}
      <div class="interaction" id="interaction">
        <a href="#" class="like" title="{% for i in news.get_likers %}{{ i }}&#10;{% endfor %}">
          {% if request.user in news.get_likers %}
            <i class="heart fa fa-heart" aria-hidden="true"></i>
          {% else %}
            <i class="heart fa fa-heart-o" aria-hidden="true"></i>
          {% endif %}
          <span class="like-count">{{ news.count_likers }}</span>
        </a>
        <a href="#" class="comment"><i class="fa fa-comment-o" aria-hidden="true"></i>
          <span class="comment-count">{{ news.count_thread }}</span>
        </a>
      </div>
    </div>
  </div>
</li>